# Andreas
Andreas Schiøtt <anys@itu.dk> <anys@itu.dk>
Andreas Schiøtt <anys@itu.dk> Andreas <anys@itu.dk>
Andreas Schiøtt <anys@itu.dk> Andreas Nygaard schioett <anys@itu.dk>
Andreas Schiøtt <anys@itu.dk> Andreas Schiøtt <anys@itu.dkD>
Andreas Schiøtt <anys@itu.dk> Name <anys@itu.dk>


# Andreas Afab
Andreas Axel Faber <afab@itu.dk>

# Anna
Anna Kirstine Bohn Hoff <anna.kirstine.hoff@gmail.com> Anna <anna.kirstine.hoff@gmail.com>
Anna Kirstine Bohn Hoff <anna.kirstine.hoff@gmail.com> annakbh <anna.kirstine.hoff@gmail.com>

# Nina
Nina Celine Hansson <cenh@itu.dk> Nina <cenh@itu.dk>
Nina Celine Hansson <cenh@itu.dk> cenh <cenh@itu.dk>
Nina Celine Hansson <cenh@itu.dk> Nina Celine

# Ludvig
Ludvig Kirkeby <ludvig.elias.kirkeby@gmail.com> Ludvig <ludvig.elias.kirkeby@gmail.com>
Ludvig Kirkeby <ludvig.elias.kirkeby@gmail.com> Ludvig <luki@itu.dk>
Ludvig Kirkeby <ludvig.elias.kirkeby@gmail.com> Ludvig Kirkeby <luki@itu.dk>
Ludvig Kirkeby <ludvig.elias.kirkeby@gmail.com> Ludvig <ludvig.elias.kirkeby@gmail.

# Maja
Maja Clara Schewe <mcls@itu.dk> Maja <mcls@itu.dk>
Maja Clara Schewe <mcls@itu.dk> Maja <majaclaraschewe@gmail.com>
Maja Clara Schewe <mcls@itu.dk> Majs <mcls@itu.dk>
Maja Clara Schewe <mcls@itu.dk> mcls <mcls@itu.dk>

# Sebastian
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian <sesv@itu.dk>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian <sebseb10@itu.dk>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian <sebseb10@gmail.com>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian Holt
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian Holt Svendsen <sebseb10@gmail.com>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian Holt Svendsen <sebula@Sebastians-Air.home>
Sebastian Holt Svendsen <sesv@itu.dk> sebseb10 <sebseb10@gmail.com>
Sebastian Holt Svendsen <sesv@itu.dk> sebseb10 <sesv@itu.dk>

# Others
Peter <phae@itu.dk>
Philip Nielsen <pann@itu.dk>
Tobias Oliver Nielsen <toon@itu.dk>


# AI / LLM (non-human, all mapped to LLM)
LLM <> Claude <claude@anthropic.com>
LLM <> claude <claude@anthropic.com>
LLM <> Claude <Claudecode@ai>
LLM <> Claus <claude@anthropic.com>
LLM <> Claude
LLM <> LLM <claude@anthropic.com>
LLM <> ChatGPT <chatgpt@openai.com>
LLM <> ChatGPT chatgpt@openai.com
LLM <> myassistantChatGPT
LLM <> Copilot <175728472+Copilot@users.noreply.github.com>
LLM <> Copilot <no-reply>



## Old BDSA 
Old BDSA commits <ignore@itu.dk> mcls <mcls@itu.dk>
Old BDSA commits <ignore@itu.dk> cenh <cenh@itu.dk>
Old BDSA commits <ignore@itu.dk> Ludvig Kirkeby <ludvig.elias.kirkeby@gmail.com>
Old BDSA commits <ignore@itu.dk> Ludvig Kirkeby <luki@itu.dk>
Old BDSA commits <ignore@itu.dk> Maja <mcls@itu.dk>
Old BDSA commits <ignore@itu.dk> annakbh <anna.kirstine.hoff@gmail.com>
Old BDSA commits <ignore@itu.dk> Nina Celine Hansson <cenh@itu.dk>
Old BDSA commits <ignore@itu.dk> Anna Kirstine Bohn Hoff <anna.kirstine.hoff@gmail.com>
Old BDSA commits <ignore@itu.dk> Maja <majaclaraschewe@gmail.com>