Andreas Nygaard Schiøtt <anys@itu.dk>
Andreas Nygaard Schiøtt <anys@itu.dk> Andreas <anys@itu.dk>
Andreas Nygaard Schiøtt <anys@itu.dk> Andreas Nygaard schioett <anys@itu.dk>
Andreas Nygaard Schiøtt <anys@itu.dk> Andreas Schiøtt <anys@itu.dkD>

Philip Anders Nielsen <pann@itu.dk>

Sebastian Holt Svendsen <sesv@itu.dk> Sebastian <sebseb10@gmail.com>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian <sebseb10@itu.dk>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian <sesv@itu.dk>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian Holt
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian Holt Svendsen <sebseb10@gmail.com>
Sebastian Holt Svendsen <sesv@itu.dk> Sebastian Holt Svendsen <sesv@itu.dk>
Sebastian Holt Svendsen <sesv@itu.dk> sebseb10 <sebseb10@gmail.com>
Sebastian Holt Svendsen <sesv@itu.dk> sebseb10 <sesv@itu.dk>

Tobias Oliver Nielsen <toon@itu.dk>

Andreas Axel Faber <afab@itu.dk>

LLM <none> ChatGPT <chatgpt@openai.com>
LLM <none> ChatGPT chatgpt@openai.com
LLM <none> Claude <none> 
LLM <none> Claude <claude@anthropic.com>
LLM <none> Claus <claude@anthropic.com>
LLM <none> Copilot <175728472+Copilot@users.noreply.github.com>
LLM <none> Copilot <no-reply>
LLM <none> myassistantChatGPT <none>

Old BDSA Commit <none> Ludvig <ludvig.elias.kirkeby@gmail.
Old BDSA Commit <none> Ludvig <ludvig.elias.kirkeby@gmail.com>
Old BDSA Commit <none> Ludvig <ludvig.elias.kirkeby@gmail.com>
Old BDSA Commit <none> Ludvig Kirkeby <ludvig.elias.kirkeby@gmail.com>
Old BDSA Commit <none> Ludvig Kirkeby <luki@itu.dk>
Old BDSA Commit <none> Maja <majaclaraschewe@gmail.com>
Old BDSA Commit <none> Maja <mcls@itu.dk>
Old BDSA Commit <none> Maja <mcls@itu.dk>,
Old BDSA Commit <none> Majs <mcls@itu.dk>
Old BDSA Commit <none> Nina <cenh@itu.dk>
Old BDSA Commit <none> Nina <cenh@itu.dk>,
Old BDSA Commit <none> Nina Celine
Old BDSA Commit <none> Nina Celine Hansson <cenh@itu.dk>
Old BDSA Commit <none> Peter <phae@itu.dk>
Old BDSA Commit <none> Anna <anna.kirstine.hoff@gmail.com>
Old BDSA Commit <none> Anna Kirstine Bohn Hoff <anna.kirstine.hoff@gmail.com>
Old BDSA Commit <none> annakbh <anna.kirstine.hoff@gmail.com>
Old BDSA Commit <none> cenh <cenh@itu.dk>
Old BDSA Commit <none> mcls <mcls@itu.dk>






