# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: CD #Build and deploy ASP.Net Core app to Azure Web App - bdsa2025group6chirp

on:
  push:
    branches:
      - main
  workflow_dispatch:
      
permissions: 
  contents: read
  packages: write
  
jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      # Image 1: itu-minitwit
      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/itu-minitwit:latest
            ${{ secrets.DOCKER_USERNAME }}/itu-minitwit:${{ github.sha }}
            
  Deploy:
    runs-on: ubuntu-latest
    needs: build-push
    steps:
      - name: Deplot on droplet via SSH
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            cd /root/minitwit
            if grep -q '^TAG=' .env; then
              sed -i 's/^TAG=.*/TAG=${{ github.sha }}/' .env
            else
              echo 'TAG=${{ github.sha }}' >> .env
            fi

            ./deploy.sh 